.meet-our-people {
  background-image: url("/Image10.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 60px 0;
}


.intro {
  max-width: 700px;
  font-size: 1.1rem;
}

.card.team-member {
  background-color: #fff;
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 250px;
}

.card.team-member:hover {
  transform: translateY(-8px);
}

/* .team-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px; 
  margin-top: 15px;
} */