.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
}

.popup-box h3 {
  color: #0d6efd;
  margin-bottom: 20px;
}

.popup-box input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 16px; /* spacing between buttons */
  margin-top: 10px;
}

.btn-submit {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.btn-submit {
  background-color: #0d6efd;
  color: white;
}

.btn-submit:hover {
  background-color: #084cd1;
}


@media (max-width: 480px) {
  .button-group {
    flex-direction: column;
  }

  .button-group button {
    width: 100%;
  }
}

.thank-you-message h4 {
  color: #0d6efd;
  margin-bottom: 10px;
}

.thank-you-message p {
  margin-bottom: 20px;
  color: #333;
}
